.MainContainer {
    padding-top: 2rem;
    height: calc(100vh - 64px);
}

.InputContainer {
    padding: 1.5rem;
}

.SearchButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainGrid {
    height: 100%;
    position: relative;
}

.TopContainer {
    min-height: 157.3px;
}

.BottomContainer {
    /* height: calc(100%-157.3px); */
    height: calc(100% - 200px);
}
